<#@ template hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>
<#@ parameter name="dalNS" type="System.String" #>
using System;
using System.Data.Entity;

namespace <#= dalNS #>.Services.Interfaces.Base
{
  public interface IUnitOfWork : IDisposable
  {
    IDbSet<TEntity> Set<TEntity>() where TEntity : class;
    void Modify(object entity);
    int SaveChanges();
  }
}
