<#@ template hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>
<#@ parameter name="dtoNS" type="System.String" #>
<#@ parameter name="dto" type="System.String" #>
<#@ parameter name="efHost" type="Microsoft.DbContextPackage.Utilities.EfTextTemplateHost" #>

<#
  //var efHost = (EfTextTemplateHost)Host;
  string entityName = efHost.EntityType.Name;
#>
namespace <#= dtoNS #>
{
	public partial class <#= entityName + dto #>
  {
  }
}
