<#@ template hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>
<#@ parameter name="bllNS" type="System.String" #>
using System;
using StructureMap;

namespace <#= bllNS #>.StructureMap
{
  public class InstanceFactory
  {
    public static T GetInstance<T>()
    {
      return ObjectFactory.GetInstance<T>();
    }

    public static object GetInstance(Type t)
    {
      return ObjectFactory.GetInstance(t);
    }
  }
}
